*{
    margin: 0;
    padding: 0;
}


*,
*::after,
*::before{
   box-sizing: inherit;   
}

:root{
    --color-primary-white:#fff;
    --color-primary-white-2:rgb(245, 244, 244);
    --color-primary:#dfe4ea;
    --color-primary-1:#d1d8e0;
    --color-blue-light-1:#29dfff;
    --color-blue-light:#18dcff;
    --color-blue-dark:#00d0f5;

    --color-grey-dark:rgb(153, 150, 150);
    --color-grey-dark-2:rgb(117, 116, 116);
    --color-grey-dark-3:#333;
    --color-grey-light-3:rgb(160, 160, 160);

    --color-black-light:#2f3640;
    --color-black-dark:#0a0d0f;

    --box-shadow-primary: 0 2rem 6rem rgba(0, 0, 0, .3);

    --block-border:rgba(17, 17, 17, 0.233);

}

$largest:60.25em;
$large:48.35em;
$medium:38.875em;

html{  
    font-size:62.5%; 
    box-sizing: border-box;

    @media only screen and(max-width:$largest) {
        font-size:50%; 
    }
}

body{    
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-black-light);
    
    background-image:linear-gradient(to right bottom, var( --color-blue-light), var( --color-blue-light));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    


  
}