*{
    margin: 0;
    padding: 0;
}


*,
*::after,
*::before{
   box-sizing: inherit;   
}

:root{
    --color-primary-white:#fff;
    --color-primary:#dfe4ea;
    --color-primary-1:#d1d8e0;
    --color-blue-light:#18dcff;
    --color-blue-dark:#00d0f5;

    --color-grey-dark:rgb(153, 150, 150);
    --color-grey-dark-2:rgb(117, 116, 116);
    --color-grey-dark-3:#333;
    --color-grey-light-3:rgb(160, 160, 160);

    --color-black-light:#111619;
    --color-black-dark:#0a0d0f;

    --box-shadow-primary: 0 2rem 6rem rgba(0, 0, 0, .3);

}

html{  
    font-size:62.5%; 
    box-sizing: border-box;
}

body{    
    font-weight: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-black-light);
    
    background-image:linear-gradient(to right bottom, var(--color-grey-dark), var(--color-blue-dark-2));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    

    height: 100vh;
}