.container{
    max-width: 120rem;
    margin: 4rem auto;
    background-color: var(--color-primary-white);
    box-shadow: var(--box-shadow-primary);

    min-height: 50rem;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
 

}

.content{
    display: flex;
    // height: 80rem;
}

.navigation{
  background-color: var(--color-black-light);
  flex: 0 0 15%; //shrink, grow, flex-basis/width
}

.main-content{
  background-color: var(--color-primary);

   flex: 1;
}